/*     ESTILOS GLOBALES   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000000;
    color: #ffffff;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
}

.menu li a {
    padding: 10px 15px;
    padding-left: 78px;
    text-align: center;
}

.integrantes {
    background-color: rgb(221, 214, 214);
    text-align: center;
    padding: 2vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.lista-integrantes {
    display: flex;
    justify-content: center;
    gap: 34px;
    flex-wrap: wrap;
}

.lista-integrantes p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.introduccion {
    background-color: oklab(61.821000000000005% -0.04441 -0.2032);
    padding: 7vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.objetivosProyecto {
    background-color: red;
    padding: 5vw;
    margin: 1vw 2vw;
    border-radius: 3vw;
}

.actividad1punto1 {
    background-color: rgb(48, 48, 49);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad1punto2 {
    background-color: rgb(0, 0, 0);
    padding: 0 0vw 10vw ;
    margin: 0vw 2vw;
    border-radius: 3vw;
    text-align: center;
}

.borde {
    background-color: rgb(0, 0, 0);
    border-radius: 0vw 0 0;
    text-align: center;
    padding: 1vw;

} 

.video-install video {
    width: 100%;       /* Ocupa todo el ancho disponible */
    max-width: 600px;  /* Tamaño máximo del video */
    height: auto;      /* Mantiene proporción */
    border-radius: 15px; 
    display: block;
    margin: 20px auto; 
}

.actividad1punto3 {
    background-color: rgb(0, 0, 0);
    padding: 0 0vw 10vw;
    margin: 1vW 2vw;
    border-radius: 3vw;;
    color: #ffffff;
} 

.actividad1punto4 {
    background-color: rgb(24, 25, 26);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
} 
.installnav {
    background-color: rgba(0, 0, 0, 0.912);
    border-radius: 3vw 3vw 0 0;
    text-align: center;
    padding: 1vw;
    color: #ffffff;
    
}
.installch {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0vw;
    color: #ffffff;
    margin-top: 1vw;

} .contenedor-flex {
    display: flex;
    align-items: center;         /* Centra verticalmente */
    gap: 2vw;                    /* Espacio entre texto e imagen */
    margin-top: 2vw;
}

/* Textos e imagen toman mitad y mitad */
.texto1 {
    flex: 1;
    padding: 30px;
}

.espac-img {
    flex: 1;
}

.espac-img img {
    width: 100%;
    max-width: 600px; 
    border-radius: 10px;         /* Opcional */
    margin: 0 auto;
}

.installbrave {
    background-color: #000000;
    text-align: center;
    margin-top: 2vw;
    color: #ffffff;
}

.highlight {
    background: linear-gradient(120deg, #4b4de7 0%, #1cd81f 100%);
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: 600;
}


.actividad2punto1 {
    background-color: rgb(27, 55, 215);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad2punto2 {
    background: rgb(255, 255, 255);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad2punto3 {
    background: rgb(106, 107, 109);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
} 

.actividad3punto1 {
    background-color: rgb(255, 242, 1);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad3punto2 {
    background-color: rgb(47, 0, 255);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad3punto3 {
    background-color: rgb(255, 15, 15);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad4punto1 {
    background-color: rgb(195, 206, 197);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad4punto2 {
    background-color: rgb(155, 172, 166);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad4punto3 {
    background-color: rgb(146, 142, 158);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad5punto1 {
    background-color: rgb(178, 174, 186);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad5punto2 {
    background-color: rgb(114, 112, 120);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad5punto3 {
    background-color: rgb(102, 99, 107);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad6punto1 {
    background-color: aliceblue;
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad6punto2 {
    background-color: rgb(154, 157, 160);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

.actividad6punto3 {
    background-color: rgb(148, 155, 161);
    padding: 5vw;
    margin: 1vW 2vw;
    border-radius: 3vw;
}

nav .logo {
    color: white;
    font-size: .5rem;
    font-weight: 700;
}

#actividad3.punto1 {
    background-color: #1e80ff;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav .menu li a:hover,
nav .menu li a.active {
    color: #4da3ff;
}

/*        FOOTER          */

footer {
    text-align: center;
    background-color: #000000;
    color: white;
}

footer a {
    display: inline-block;
    margin: 0px 5px;
}

footer .icono-footer,
footer .icono-footer-telegram {
    width: 50px;
    transition: transform 0.6s;
}

.icono-footer-telegram:hover{
    transform: scale(1.4);
}

footer .icono-footer,
footer .icono-footer-gmail {
    width: 33px;
    transition: transform 0.6s;
}

.icono-footer-gmail:hover{
    transform: scale(1.4);
}

footer .icono-footer,
footer .icono-footer-whatsapp {
    width: 45px;
    transition: transform 0.6s;
    position: relative;
    top: 5px;

}
.icono-footer-whatsapp:hover{
    transform: scale(1.4);
}


/* responsive web */

@media (max-width: 768px) {
    header nav ul.menu {
        flex-direction: column;
        gap: 5px;
    }

    .actividad, .hero {
        padding: 20px 10px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header h3 {
        font-size: 1.2rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    header {
        padding: 10px;
    }
    header .menu li a {
        font-size: 14px;
    }
    .menu {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu a {
        font-size: 14px;
    }
    footer {
        font-size: 14px;
        padding: 15px;
    }
}

@media (max-width: 900px) {
    .menu a {
        font-size: 16px;
    }
    header .menu li a {
        font-size: 16px;
    }
    footer {
        font-size: 16px;
    }

@media (max-width: 768px) {
    .contenedor-flex {
        flex-direction: column;
    }
    }
}